/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 4, ../sass/print.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/print.scss */
body {
  margin: 0;
  padding: 0;
  font-family: arial;
}

/* line 14, ../sass/print.scss */
#wrapper {
  overflow: hidden;
}
/* line 21, ../sass/print.scss */
#wrapper #header-mobile .navbar {
  background: #f5f5f5;
  border: none;
  padding: 0;
}
/* line 26, ../sass/print.scss */
#wrapper #header-mobile .navbar-toggler {
  padding: 13px 0;
}
/* line 28, ../sass/print.scss */
#wrapper #header-mobile .navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #888;
  margin-bottom: 5px;
}
/* line 39, ../sass/print.scss */
#wrapper #header-mobile #navbar ul li {
  padding: 10px 0;
}
/* line 41, ../sass/print.scss */
#wrapper #header-mobile #navbar ul li a {
  color: #777;
}
/* line 47, ../sass/print.scss */
#wrapper #header-mobile .form-inline {
  position: relative;
  margin-top: 7px;
}
/* line 50, ../sass/print.scss */
#wrapper #header-mobile .form-inline input {
  background: transparent;
  width: 100% !IMPORTANT;
  margin-left: 0 !important;
}
/* line 55, ../sass/print.scss */
#wrapper #header-mobile .form-inline .fa-search {
  top: 30%;
  position: absolute;
  right: 10px;
  color: #c81423;
}
/* line 62, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list {
  margin-top: 15px;
}
/* line 64, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul {
  padding: 0;
  margin: 0;
}
/* line 67, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li {
  float: left;
  position: relative;
  list-style: none;
  margin-right: 10px;
  cursor: pointer;
}
/* line 73, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li:last-child {
  margin-right: 0;
}
/* line 76, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li .count {
  position: absolute;
  background: #c81322;
  color: #fff;
  font-size: 8px;
  top: -5px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-align: center;
}
/* line 88, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li .cart {
  position: relative;
}
/* line 91, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li .notif {
  position: relative;
}
/* line 97, ../sass/print.scss */
#wrapper #header-mobile .banner-mobile {
  margin-top: 50px;
}
/* line 100, ../sass/print.scss */
#wrapper #header-mobile .banner-mobile .img img {
  width: 100%;
  object-fit: cover;
}
/* line 108, ../sass/print.scss */
#wrapper #top {
  background: #f5f5f5;
  height: 30px;
  line-height: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 112, ../sass/print.scss */
  #wrapper #top .top-cols {
    font-size: 12px;
  }
}
/* line 117, ../sass/print.scss */
#wrapper #top .top-cols .left .cols {
  margin-left: 20px;
}
/* line 119, ../sass/print.scss */
#wrapper #top .top-cols .left .cols a {
  padding-left: 20px;
}
/* line 123, ../sass/print.scss */
#wrapper #top .top-cols .left .tlp {
  background: url(../img/ico-tlp.png) no-repeat left;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 123, ../sass/print.scss */
  #wrapper #top .top-cols .left .tlp {
    margin-left: 10px;
  }
}
/* line 129, ../sass/print.scss */
#wrapper #top .top-cols .left .email {
  background: url(../img/ico-mail.png) no-repeat left;
  margin-left: 0;
}
/* line 134, ../sass/print.scss */
#wrapper #top .top-cols .right {
  text-align: right;
}
/* line 136, ../sass/print.scss */
#wrapper #top .top-cols .right .cols {
  margin-right: 15px;
}
/* line 138, ../sass/print.scss */
#wrapper #top .top-cols .right .cols:last-child {
  padding-left: 20px;
  margin-right: 0;
  border-left: 1px solid #d8d8d8;
}
/* line 144, ../sass/print.scss */
#wrapper #top .top-cols .right .maps {
  background: url(../img/ico-location.png) no-repeat left;
}
/* line 146, ../sass/print.scss */
#wrapper #top .top-cols .right .maps a {
  padding-left: 20px;
}
/* line 151, ../sass/print.scss */
#wrapper #top .top-cols .cols {
  display: inline-block;
}
/* line 153, ../sass/print.scss */
#wrapper #top .top-cols .cols a {
  color: #666666;
}
/* line 156, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle {
  background: transparent;
  border: none;
  padding: 0;
}
/* line 160, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle img {
  float: left;
  margin-top: 5px;
}
/* line 164, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle .txt {
  float: left;
  line-height: 8px;
  margin: 7px 5px;
}
/* line 169, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle .caret {
  color: #666;
  float: left;
  margin-top: 2px;
}
/* line 175, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-menu {
  min-width: 70px;
  padding: 10px;
}
/* line 183, ../sass/print.scss */
#wrapper #header {
  padding: 30px;
}
/* line 186, ../sass/print.scss */
#wrapper #header .logo img {
  width: 100%;
}
/* line 191, ../sass/print.scss */
#wrapper #header .search-top .form-inline {
  background: #f5f5f5;
  font-size: 12px;
  border: 1px solid #cccccc;
}
/* line 195, ../sass/print.scss */
#wrapper #header .search-top .form-inline input {
  border: none;
  background: none;
  width: 68%;
}
/* line 200, ../sass/print.scss */
#wrapper #header .search-top .form-inline .dropdown-toggle {
  padding-right: 15px !Important;
}
/* line 203, ../sass/print.scss */
#wrapper #header .search-top .form-inline .filter-option-inner-inner {
  font-size: 13px;
  padding-top: 2px;
}
/* line 207, ../sass/print.scss */
#wrapper #header .search-top .form-inline .bootstrap-select {
  width: 140px;
}
@media screen and (max-width: 768px) {
  /* line 207, ../sass/print.scss */
  #wrapper #header .search-top .form-inline .bootstrap-select {
    width: 70px;
  }
}
/* line 212, ../sass/print.scss */
#wrapper #header .search-top .form-inline .bootstrap-select .selectpicker {
  background: none;
}
/* line 215, ../sass/print.scss */
#wrapper #header .search-top .form-inline .bootstrap-select .dropdown-toggle {
  background: none;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0;
  padding: 0 10px;
  color: #666;
}
/* line 225, ../sass/print.scss */
#wrapper #header .search-top .form-inline .search-btn {
  background: #c81423;
  position: absolute;
  right: 0;
  top: 0;
  width: 55px;
  height: 40px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}
/* line 240, ../sass/print.scss */
#wrapper #header .top-right {
  padding-top: 10px;
}
@media screen and (min-width: 568px) and (max-width: 1024px) {
  /* line 242, ../sass/print.scss */
  #wrapper #header .top-right .shop-act-list {
    max-width: 100% !IMPORTANT;
    width: 100%;
    flex: none;
  }
}
/* line 248, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul {
  padding: 0;
  margin: 0;
}
/* line 251, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li {
  float: left;
  position: relative;
  list-style: none;
  margin-right: 9px;
  cursor: pointer;
}
/* line 257, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .count {
  position: absolute;
  background: #c81322;
  color: #fff;
  font-size: 8px;
  top: -5px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-align: center;
}
/* line 269, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart {
  position: relative;
}
/* line 271, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart:after {
  display: none;
}
/* line 274, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 {
  display: none;
  width: 275px;
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 9;
  background: #fff;
  box-shadow: 1px 1px 1px 3px #b0b0b070;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 274, ../sass/print.scss */
  #wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 {
    left: -200px;
  }
}
/* line 287, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li {
  float: none;
  margin: 0;
  position: relative;
  padding: 8px 30px;
  margin: 10px 20px;
  border-bottom: 1px solid #b0b0b070;
}
/* line 294, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li:nth-child(1) {
  background: url(../img/top-cart.png) no-repeat left;
}
/* line 297, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li:nth-child(2) {
  background: url(../img/top-chat.png) no-repeat left;
}
/* line 300, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li:nth-child(3) {
  background: url(../img/top-user.png) no-repeat left;
  border: none;
}
/* line 304, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li a {
  color: #999;
}
/* line 307, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li span {
  position: absolute;
  right: 10px;
  font-weight: bold;
}
/* line 315, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product {
  padding: 10px;
  font-size: 12px;
}
/* line 318, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product.ganjil {
  background: #f5f5f5;
}
/* line 321, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .title {
  color: #666;
}
/* line 324, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .price {
  color: #333;
}
/* line 329, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .txt {
  padding: 20px 10px;
  color: #999;
}
/* line 333, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .subtotal {
  padding: 20px 10px;
  color: #999;
}
/* line 336, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .subtotal .total {
  font-weight: bold;
  color: #333;
}
/* line 342, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product {
  padding: 10px;
  font-size: 12px;
  border-bottom: 1px solid #eee;
}
/* line 346, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product img {
  width: 100%;
}
/* line 349, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product.ganjil {
  background: #f5f5f5;
}
/* line 352, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .title {
  color: #666;
}
/* line 355, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .price {
  color: #333;
}
/* line 362, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif {
  position: relative;
}
/* line 364, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif:after {
  display: none;
}
/* line 367, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux {
  display: none;
  width: 275px;
  position: absolute;
  left: -100px;
  top: 40px;
  z-index: 9;
  background: #fff;
  box-shadow: 1px 1px 1px 3px #b0b0b070;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 367, ../sass/print.scss */
  #wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux {
    left: -200px;
  }
}
/* line 380, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li {
  float: none;
  margin: 0;
  position: relative;
  padding: 8px 30px;
  margin: 10px 20px;
  border-bottom: 1px solid #b0b0b070;
}
/* line 387, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li:nth-child(1) {
  background: url(../img/top-cart.png) no-repeat left;
}
/* line 390, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li:nth-child(2) {
  background: url(../img/top-chat.png) no-repeat left;
}
/* line 393, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li:nth-child(3) {
  background: url(../img/top-user.png) no-repeat left;
  border: none;
}
/* line 397, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li a {
  color: #999;
}
/* line 400, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li span {
  position: absolute;
  right: 10px;
  font-weight: bold;
}
/* line 408, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product {
  padding: 10px;
  font-size: 12px;
}
/* line 411, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product.ganjil {
  background: #f5f5f5;
}
/* line 414, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product .title {
  color: #666;
}
/* line 417, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product .price {
  color: #333;
}
/* line 422, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .txt {
  padding: 20px 10px;
  color: #999;
}
/* line 426, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .subtotal {
  padding: 20px 10px;
  color: #999;
}
/* line 429, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .subtotal .total {
  font-weight: bold;
  color: #333;
}
/* line 435, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product {
  padding: 10px;
  font-size: 12px;
  border-bottom: 1px solid #eee;
}
/* line 439, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product img {
  width: 100%;
}
/* line 442, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product.ganjil {
  background: #f5f5f5;
}
/* line 445, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product .title {
  color: #666;
}
/* line 448, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product .price {
  color: #333;
}
/* line 459, ../sass/print.scss */
#wrapper #header .top-right .user-act-list {
  padding: 0;
}
@media screen and (max-width: 768px) {
  /* line 459, ../sass/print.scss */
  #wrapper #header .top-right .user-act-list {
    display: none;
  }
}
/* line 464, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul {
  padding: 0;
  margin: 0;
}
/* line 467, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul li {
  list-style: none;
  float: left;
  margin-right: 15px;
}
/* line 471, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul li:last-child {
  margin-right: 0;
}
/* line 474, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul li a {
  padding-left: 20px;
  color: #666;
}
/* line 479, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .shop {
  background: url(../img/ico-shop.png) no-repeat left;
}
/* line 482, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign {
  background: url(../img/ico-user.png) no-repeat 20%;
  padding-left: 13px;
  border-left: 1px solid #d8d8d8;
}
/* line 486, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop {
  position: absolute;
  background: #fff;
  left: -120px;
  z-index: 9;
  width: 350px;
  padding: 20px;
  border-color: #ececec;
}
/* line 494, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .flexo {
  padding: 0 20px;
}
/* line 496, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .flexo .right {
  font-size: 12px;
}
/* line 500, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .input-group-btn {
  position: absolute;
  right: 0;
}
/* line 503, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .input-group-btn button {
  border: none;
  background: none;
  color: #333;
}
/* line 509, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .login-btn {
  background: #c81423;
  color: #fff;
  width: 100%;
  border-radius: 25px;
}
/* line 515, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop input {
  border-radius: 25px;
}
/* line 526, ../sass/print.scss */
#wrapper #menus-wrapper .bg-kategori {
  padding-right: 0;
}
/* line 528, ../sass/print.scss */
#wrapper #menus-wrapper .bg-kategori h5 {
  background: #c81423 url(../img/burger-menu.png) no-repeat 8%;
  color: #fff;
  padding: 15px 50px;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  /* line 528, ../sass/print.scss */
  #wrapper #menus-wrapper .bg-kategori h5 {
    padding: 15px 0px 15px 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 528, ../sass/print.scss */
  #wrapper #menus-wrapper .bg-kategori h5 {
    font-size: 14px;
    padding: 15px 10px 15px 35px;
  }
}
/* line 543, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul {
  padding-top: 15px;
  margin: 0;
}
/* line 546, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li {
  list-style: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}
/* line 552, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li a {
  color: #333;
  text-decoration: none;
}
/* line 555, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li a:hover {
  color: #c81423;
}
/* line 559, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li .active {
  color: #c81423;
}
/* line 567, ../sass/print.scss */
#wrapper #banner-wrapper {
  background: url(../img/bgslider.png) no-repeat center center;
  height: 416px;
  background-size: cover;
}
/* line 571, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper {
  padding-right: 0;
}
/* line 573, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category {
  background: #420006;
  padding: 20px;
  height: 416px;
}
/* line 577, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul {
  padding: 0;
  margin: 0;
}
/* line 580, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul li {
  list-style: none;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-left: 30px;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  /* line 580, ../sass/print.scss */
  #wrapper #banner-wrapper .list-cat-wrapper .list-category ul li {
    margin-bottom: 5px;
    font-size: 12px;
  }
}
/* line 590, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul li a {
  display: block;
  color: #fff;
}
/* line 595, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul .elektronik {
  background: url(../img/cat-ico-clock.png) no-repeat left;
}
/* line 598, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul .hp {
  background: url(../img/cat-ico-phone.png) no-repeat left;
}
/* line 601, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul .laptop {
  background: url(../img/cat-ico-tv.png) no-repeat left;
}
/* line 604, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul .fashion {
  background: url(../img/cat-ico-fashion.png) no-repeat left;
}
/* line 607, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul .fashion2 {
  background: url(../img/cat-ico-fashion2.png) no-repeat left;
}
/* line 610, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul .beauty {
  background: url(../img/cat-ico-body.png) no-repeat left;
}
/* line 613, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul .health {
  background: url(../img/cat-ico-health.png) no-repeat left;
}
/* line 616, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul .bodyshop {
  background: url(../img/cat-ico-art.png) no-repeat left;
}
/* line 619, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul .others {
  background: url(../img/cat-ico-others.png) no-repeat left;
}
/* line 626, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col {
  padding-right: 0;
  padding-left: 0;
}
/* line 629, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .slidebanner {
  outline: none;
}
/* line 631, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .slidebanner .slick-next {
  outline: none;
  position: absolute;
  right: 5%;
  background: url(../img/next.png) no-repeat left;
  width: 24px;
  height: 50px;
  cursor: pointer;
  border: none;
  text-indent: -9999px;
  top: 50%;
}
/* line 643, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .slidebanner .slick-prev {
  outline: none;
  position: absolute;
  z-index: 9;
  left: 5%;
  background: url(../img/prev.png) no-repeat left;
  width: 24px;
  height: 50px;
  cursor: pointer;
  border: none;
  text-indent: -9999px;
  top: 50%;
}
/* line 658, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .banner img {
  width: 100%;
  height: 416px;
}
/* line 664, ../sass/print.scss */
#wrapper #banner-wrapper .small-banner {
  padding-left: 0;
}
/* line 667, ../sass/print.scss */
#wrapper #banner-wrapper .small-banner .block img {
  height: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 667, ../sass/print.scss */
  #wrapper #banner-wrapper .small-banner .block img {
    height: 155px;
  }
}
/* line 677, ../sass/print.scss */
#wrapper #content-wrapper {
  background: #f5f5f5;
  padding-top: 50px;
}
/* line 681, ../sass/print.scss */
#wrapper #content-wrapper .menu-after-top h3 {
  font-weight: bold;
  color: #333;
  display: inline-block;
}
@media screen and (min-width: 568px) {
  /* line 681, ../sass/print.scss */
  #wrapper #content-wrapper .menu-after-top h3 {
    width: 40%;
  }
}
/* line 689, ../sass/print.scss */
#wrapper #content-wrapper .menu-after-top .list-menu {
  display: inline-block;
}
@media screen and (min-width: 568px) {
  /* line 689, ../sass/print.scss */
  #wrapper #content-wrapper .menu-after-top .list-menu {
    display: inline-block !Important;
  }
}
/* line 695, ../sass/print.scss */
#wrapper #content-wrapper .menu-after-top .list-menu ul li {
  display: inline-block;
  margin-right: 20px;
}
/* line 698, ../sass/print.scss */
#wrapper #content-wrapper .menu-after-top .list-menu ul li a {
  color: #999;
  text-decoration: none;
}
/* line 701, ../sass/print.scss */
#wrapper #content-wrapper .menu-after-top .list-menu ul li a:hover {
  color: #c81423;
}
/* line 709, ../sass/print.scss */
#wrapper #content-wrapper .banner-after-menu {
  margin-bottom: 20px;
}
/* line 711, ../sass/print.scss */
#wrapper #content-wrapper .banner-after-menu img {
  width: 100%;
}
/* line 717, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .highlight {
  background: url(../img/bg-product-active.jpg) no-repeat !important;
}
/* line 719, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .highlight a {
  color: #fff !Important;
}
/* line 723, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .slide-product {
  outline: none;
}
/* line 725, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .slide-product .slick-prev {
  outline: none;
  position: absolute;
  z-index: 9;
  background: url(../img/prev.png) no-repeat left;
  width: 24px;
  height: 50px;
  cursor: pointer;
  border: none;
  text-indent: -9999px;
  top: 50%;
}
/* line 737, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .slide-product .slick-next {
  outline: none;
  position: absolute;
  right: 0;
  background: url(../img/next.png) no-repeat left;
  width: 24px;
  height: 50px;
  cursor: pointer;
  border: none;
  text-indent: -9999px;
  top: 50%;
}
/* line 750, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block {
  background: #fff;
  float: left;
  width: 220px;
  height: 335px;
  border-right: 1px solid #f5f5f5;
}
@media screen and (max-width: 480px) {
  /* line 750, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block {
    height: auto;
  }
}
/* line 759, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 20px;
  position: relative;
}
/* line 765, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a:hover {
  box-shadow: 2px 0px 30px 5px #ccc;
}
@media screen and (max-width: 768px) {
  /* line 759, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a {
    padding: 20px 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 759, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a {
    padding: 20px;
  }
}
/* line 774, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .img {
  min-height: 200px;
}
@media screen and (max-width: 480px) {
  /* line 774, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .img {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 1024px) {
  /* line 780, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .img img {
    width: 100%;
  }
}
/* line 786, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .title {
  margin-bottom: 10px;
  color: #666;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 786, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .title {
    padding: 0 10px;
  }
}
/* line 793, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .price {
  color: #c81423;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 793, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .price {
    padding: 0 10px;
  }
}
/* line 799, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .percent {
  color: #999;
  font-size: 12px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 799, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .percent {
    padding: 0 10px;
  }
}
/* line 806, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list {
  margin-top: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 806, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .star-list {
    padding: 0 10px;
  }
}
/* line 811, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list ul {
  float: left;
  padding: 0;
  margin: 0;
}
/* line 815, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list ul li {
  list-style: none;
  display: inline-block;
}
/* line 820, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list .review {
  float: left;
  margin-left: 10px;
  margin-top: 2px;
  font-size: 10px;
  color: #999;
}
@media screen and (max-width: 768px) {
  /* line 820, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .star-list .review {
    margin-left: 0;
  }
}
/* line 836, ../sass/print.scss */
#wrapper #content-wrapper #banner-ads {
  padding: 50px 0;
  background: #f5f5f5;
}
/* line 840, ../sass/print.scss */
#wrapper #content-wrapper #banner-ads .banner img {
  object-fit: cover;
  width: 100%;
}
/* line 846, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper {
  margin-bottom: 20px;
}
/* line 848, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper h3 {
  font-weight: bold;
  color: #333;
}
/* line 853, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul {
  padding: 0;
  margin: 0;
}
/* line 856, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul li {
  list-style: none;
  float: left;
}
@media screen and (min-width: 768px) {
  /* line 856, ../sass/print.scss */
  #wrapper #content-wrapper .top-category-wrapper .list-category ul li {
    width: 25%;
  }
}
@media screen and (max-width: 480px) {
  /* line 856, ../sass/print.scss */
  #wrapper #content-wrapper .top-category-wrapper .list-category ul li {
    float: none;
    width: 100%;
  }
}
/* line 866, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul li a {
  display: block;
}
/* line 868, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul li a img {
  width: 100%;
}
/* line 878, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper {
  margin: 50px 0;
}
/* line 880, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper h3 {
  font-weight: bold;
  color: #333;
}
/* line 886, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block {
  width: 16.66666667%;
  height: 282px;
  margin-bottom: 20px;
  border-right: 3px solid #f5f5f5;
}
@media screen and (min-width: 768px) {
  /* line 886, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block {
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 886, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block {
    width: 50%;
    padding: 0;
  }
}
/* line 898, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a {
  height: 100%;
  position: relative;
  z-index: 9;
  padding: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 898, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a {
    padding: 0;
  }
}
/* line 906, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img {
  min-height: 140px;
}
@media screen and (max-width: 768px) {
  /* line 906, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img {
    min-height: 50px;
  }
  /* line 910, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img img {
    width: 100%;
  }
}
/* line 914, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img img {
  width: 100%;
}
/* line 919, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .star-list ul {
  width: 45%;
}
@media screen and (max-width: 768px) {
  /* line 919, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .star-list ul {
    width: 100%;
  }
}
/* line 924, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .star-list ul li {
  margin-right: -5px;
}
/* line 932, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .seemore {
  text-align: center;
  text-transform: capitalize;
}
/* line 935, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .seemore a {
  background: #c81423;
  padding: 10px 20px;
  display: block;
  color: #fff;
}
/* line 946, ../sass/print.scss */
#wrapper #footer-wrapper {
  border-bottom: 1px solid #666;
  padding-bottom: 50px;
}
@media screen and (max-width: 480px) {
  /* line 946, ../sass/print.scss */
  #wrapper #footer-wrapper {
    background: #f5f9fc;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 954, ../sass/print.scss */
  #wrapper #footer-wrapper .logo img {
    width: 100%;
  }
}
/* line 959, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper {
  padding: 50px 0;
}
/* line 961, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block {
  text-align: center;
  background: url(../img/border-right.png) no-repeat right bottom;
}
@media screen and (max-width: 480px) {
  /* line 961, ../sass/print.scss */
  #wrapper #footer-wrapper .before-footer-wrapper .block {
    height: 150px;
    background: url(../img/border-right.png) no-repeat right center;
  }
}
/* line 968, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block:last-child {
  background: none;
}
/* line 971, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block .img {
  display: inline-block;
  margin-bottom: 10px;
}
/* line 975, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block .title {
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 980, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block .desc {
  color: #666;
}
@media screen and (max-width: 768px) {
  /* line 980, ../sass/print.scss */
  #wrapper #footer-wrapper .before-footer-wrapper .block .desc {
    font-size: 12px;
  }
}
/* line 988, ../sass/print.scss */
#wrapper #footer-wrapper .footer {
  color: #666;
  line-height: normal;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 988, ../sass/print.scss */
  #wrapper #footer-wrapper .footer {
    font-size: 12px;
  }
}
/* line 994, ../sass/print.scss */
#wrapper #footer-wrapper .footer .title {
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #666;
  margin-bottom: 10px;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  /* line 994, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .title {
    width: 50%;
    font-size: 18px;
    margin-top: 20px;
  }
}
/* line 1006, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address {
  margin-top: 35px;
}
@media screen and (max-width: 480px) {
  /* line 1006, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .list-address {
    margin-top: 20px;
  }
}
/* line 1011, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul {
  padding: 0;
  margin: 0;
}
/* line 1014, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li {
  list-style: none;
  margin-bottom: 10px;
  padding-left: 25px;
}
/* line 1018, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li:nth-child(1) {
  background: url(../img/footer-maps.png) no-repeat left;
}
/* line 1021, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li:nth-child(2) {
  background: url(../img/footer-phone.png) no-repeat left;
}
/* line 1024, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li:nth-child(3) {
  background: url(../img/footer-mail.png) no-repeat left;
}
/* line 1030, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus {
  margin-top: 20px;
}
/* line 1032, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus ul {
  padding: 0;
  margin: 0;
}
/* line 1035, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus ul li {
  list-style: none;
  margin: 10px 0;
}
/* line 1038, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus ul li a {
  color: #666;
}
/* line 1044, ../sass/print.scss */
#wrapper #footer-wrapper .footer .img-wrap {
  padding-right: 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1047, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .img-wrap img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1052, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .list-blog {
    font-size: 12px;
  }
}
/* line 1056, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-blog .blog {
  border-bottom: 1px solid #333;
  padding: 15px 0;
}
/* line 1059, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-blog .blog:last-child {
  border: none;
}
/* line 1062, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-blog .blog a {
  color: #666;
}
/* line 1070, ../sass/print.scss */
#wrapper #bottom {
  text-align: center;
  padding: 30px 0;
  color: #999999;
  font-size: 16px;
}
/* line 1075, ../sass/print.scss */
#wrapper #bottom .red {
  color: #c81423;
}
